footer {
    box-sizing: border-box;
    @include clearfix;
    text-align: left;
    font-size: 0.875em;
    padding: 2em 0;
    .container {
        @include gutter;
        >div {
            padding-bottom: 1em;
        }
        display: flex;
        @include screen('tablet') {
            flex-wrap: wrap;
        }
    }
    a {
        text-decoration: none;
        color: $primaryColor;
        &:hover,
        &:focus {
            color: darken($primaryColor, 10);
        }
    }
    .footer_logo {
        flex: 0 1 270px;
        margin-right: 40px;
        text-align: center;
        @include screen('tablet') {
            flex: 0 1 200px;
        }
        @media(max-width: 850px) {
            flex: 1 1 100%;
        }
        img {
            width: 180px;
        }
    }
    .footer_info {
        flex: 1 1 auto;
        @media(max-width: 850px) {
            flex: 1 1 100%;
            text-align: center;
        }
    }
    .footer_icon {
        flex: 0 1 200px;
        @include screen('tablet') {
            flex: 1 1 100%;
            text-align: right;
        }
        @media(max-width: 850px) {
            text-align: center;
        }
    }
    // 版權連結
    .footer_link {
        @include li-reset();
        @include clearfix();
        display: flex;
        @media(max-width: 850px) {
            justify-content: center;
        }
        @include screen('mobile') {
            flex-direction: column;
        }
        li {
            flex: 0 1 auto;
            margin: 0px 5px 5px 0px;
            @include screen('mobile') {
                flex: 1 1 100%;
            }
            a {
                display: block;
                padding: .5em 1em;
                background-color: #ccc;
                color: #222;
                border-radius: 4px;
                text-align: center;
                transition: all .3s ease-out;
                &:hover,
                &:focus {
                    background-color: #666;
                    color: #fff;
                }
            }
        }
    }
    p {
        line-height: 1.65em;
    }
    .update,
    .counter {
        display: inline-block;
        margin-right: 5px;
        em {
            font-style: normal;
            color: $primaryColor;
            padding: 0 .5em;
        }
    }
    .footer_icon {
        a {
            display: inline-block;
            vertical-align: top;
            position: relative;
            &:focus {
                &:after {
                    content: "";
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    box-shadow: 0px 0px 0px 1px $aHover inset;
                    z-index: 99;
                }
            }
        }
        img {
            max-width: 120px;
        }
    }
}