//header
.header {
    position: relative;
    z-index: 99;
    padding: 0;
    background-image: url('../images/headerbg.png');
    background-repeat: no-repeat;
    background-position: right 28px;
    background-color: #fbfbfb;
    @extend %clearfix;
    @include screen('tablet') {}
    @include screen('mobile') {
        position: fixed;
        width: 100%;
    }
    >.container {
        // max-width: $container-max;
        width: 100%;
        overflow: visible;
        position: relative; // menu
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        height: 125px;
        @media(max-width: 400px) {
            display: block;
        }
        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: rgb(251, 251, 251);
            background: linear-gradient(90deg, rgba(251, 251, 251, 0.80015756302521) 32%, rgba(251, 251, 251, 0) 85%);
            width: 100%;
            height: 100%;
            z-index: 0;
        }
    }
    .explain {
        background: rgb(32, 129, 121);
        background: linear-gradient(135deg, rgba(32, 129, 121, 1) 0%, rgba(25, 90, 94, 1) 100%, rgba(103, 172, 176, 1) 158%);
        color: #fff;
        padding: 4px 5px;
        text-align: right;
        flex: auto;
        flex-basis: 100%;
        font-size: 0.813em;
        align-self: flex-start;
        font-size: 0.875em;
        position: relative;
        z-index: 1;
        a {
            color: #fff;
            padding: 0 2px;
            text-decoration: underline;
            &:hover {
                color: $lightColor;
            }
        }
    }
    h1 {
        flex: none;
        flex-basis: 208px;
        width: 208px;
        height: 60px;
        margin: -30px 40px 0 20px;
        padding: 0;
        box-sizing: border-box;
        position: relative;
        z-index: 1;
        a {
            display: inline-block;
        }
        img {
            width: 208px;
            height: 60px;
        }
        @media(max-width: 500px) {
            margin: -30px 20px 0 20px;
            flex-basis: 180px;
            width: 180px;
            height: 52px;
            img {
                width: 100%;
                height: 100%;
            }
        }
        @media(max-width: 400px) {
            width: 150px;
            height: 43px;
            margin: 10px auto;
        }
    }
    .title {
        font-size: 2em;
        flex: auto;
        // font-weight: bold;
        text-shadow: 0 0 5px #fff, 0 0 8px #fff, 0 0 8px #fff;
        margin-top: -30px;
        position: relative;
        z-index: 1;
        @media(max-width: 500px) {
            font-size: 1.75em;
        }
        @media(max-width: 400px) {
            font-size: 1.625em;
            margin: 0;
            text-align: center;
        }
    }
    // 導覽列
    .navigation {
        @include screen('mobile') {
            display: none;
        }
        &.have_language {
            padding-right: 160px;
        }
        @extend %clearfix;
        overflow: hidden;
        // width: 100%;
        // margin-bottom: .5em;
        box-sizing:border-box;
        display: flex;
        //shuya 1090826
        .navlist {
            flex: 1 1 auto;
            margin: .1em .5em 0 0;
            ul {
                padding: 0;
                margin: 0;
                font-size: .875em;
                list-style: none;
                display: flex;
                justify-content: flex-end;
            }
            li {
                flex: 0 0 auto;
                a {
                    display: block;
                    padding: .5em;
                    text-decoration: none;
                    @include aSetting_nocolor;
                }
            }
        }
        .language {
            position: absolute;
            right: 15px;
            top: .35em;
            font-size: .75em;
        }
    }
}
// header fix
.header.fixed {
    position: fixed;
    width: 100%;
    right: 0;
    top: 0;
    box-shadow: rgba(0, 0, 0, .5) 0 0 25px;
    background: rgba(0, 0, 0, .75);
    z-index: 999;
    @include screen('mobile') {
        background: #FFF;
    }
    .menu {
        >ul {
            >li {
                >a {
                    color: #FFF;
                }
            }
        }
    }
    .megamenu {
        >ul {
            >li {
                >a {
                    color: #FFF;
                }
            }
        }
    }
}